# Cache Files
.cache

# Mac OS X Files
.DS_Store

# ENV Files
.env

# DIST Files
dist

# Node_Modules Files
node_modules

# GitAttributes File
gitattributes

# Package Files
package-lock.json

# VS Code Files
.vscode